@import 'colors';
@import 'fonts';
@import 'resolutions';
/*
  General
*/
* {

  font-family: $text-arial
}
.padding-top-bottom {
  padding-top: $size-medium;
  padding-bottom: $size-small;
}
.margin-top-bottom {
  margin-top: $size-medium;
  margin-bottom: $size-small;
}
.container {
  margin: 0 auto;
  width: $size-width;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col{
  float:left;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:0 .75rem;
  min-height:1px;
}

@for $i from 1 through 12 {
  .col.s#{$i} {
    width: ($i / 12)*100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

.header {
  background-color: $bg-capitan;
  color: $text-white;
  padding: 7px 7px;
}
/*
listas
*/
#listas ul {
  padding: 0;
}
#listas ul > li {
  list-style: none;
  margin: 7px 0;
  padding: 2px 7px;
  background-color: $bg-light-black;
  color: $text-white;
  font-size: $size-small;

}
#listas ul > li:last-child {
  background-color: $bg-capitan;
}
/*
ASIDE
*/
.aside {
  padding-right: $size-small;
  padding-left: $size-small;
}
.aside, .footer {
  text-align: $center-align;
  background-color: $bg-light-black;
  color: $text-white;
  font-size: $size-small;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  @for $i from 1 through 12 {
    .col.m#{$i} {
      width: ($i / 12)*100%;
      margin-left: auto;
      left: auto;
      right: auto;

    }
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  @for $i from 1 through 12 {
    .col.l#{$i} {
      width: ($i / 12)*100%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
  }
  #cont-exercise {
    font-size: $size-small;
  }
}
